<div class="cardContainer" *ngIf="gFacade.game$ | async as game">
    <h1>{{ game.name }}</h1>
    <div class="ballsLast5 withMarginBottom" *ngIf="cFacade.balls$ | async as numbers">
        <span class="ballsLast5--header">Last 5 Numbers:</span>
        <ng-container *ngFor="let n of numbers; let i=index">
            <div class="ball {{ n.letter | lowercase }}" *ngIf="i < 5">
                <div>
                    <span class="letter">{{ n.letter }}</span>
                    <span class="number">{{ n.number }}</span>
                </div>
            </div>
        </ng-container>
    </div>
    <app-card
        #bingoCard></app-card>
</div>
<swal
    [swalOptions]="{
        showCancelButton: false,
        input: 'text',
        buttonClass: 'btn',
        allowOutsideClick: false
    }"
    (confirm)="join($event)"
    #name>
    <ng-container *swalPortal>
        What's your name?
    </ng-container>
</swal>

<swal
    [swalOptions]="{
        showCancelButton: false,
        showConfirmButton: false,
        icon: 'error',
        title: 'Host not connected',
        allowOutsideClick: false
    }"
    #notConnected>
    <ng-container *swalPortal>
        We have to wait for the host to connect to the game.
    </ng-container>
</swal>
