
    <div class="bingoCard">
        <div class="title">
            B
        </div>
        <div class="title">
            I
        </div>
        <div class="title">
            N
        </div>
        <div class="title">
            G
        </div>
        <div class="title">
            O
        </div>
        <ng-container *ngFor="let r of numbers; index as i">
            <ng-container *ngFor="let c of numbers[i]">
                <div [ngClass]="{ active: c === 'FREE' }">
                    {{ c || 'FREE' }}
                </div>
            </ng-container>
        </ng-container>
    </div>
