$gray: hsl(165, 5%, 95%);
$black: #444;
$orange: #f5b971;
$green: hsl(165, 69%, 40%);
$red: #e23e57;
$blue: #537791;

$body-bg: $gray;
$font-color: $black;
$font-family: jaf-bernina-sans, sans-serif;
$border-radius: 0.4rem;
$box-shadow: 0px 0px 5px 0px rgba(68,68,68,0.1);

$primary-color: $orange;
$alt-color: #c1c0b9;
