$gray: hsl(165, 5%, 95%);;
$black: #444;
$orange: #f07b3f;
$green: hsl(165, 69%, 40%);
$red: #e23e57;

$body-bg: $gray;
$font-color: $black;
$font-family: jaf-bernina-sans, sans-serif;
$border-radius: 0.4rem;

$primary-color: $green;
