.btn {
    display: inline-block;
    padding: 0.7rem 1rem;
    color: #fff;
    background: $primary-color;
    border-radius: $border-radius;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background 0.2s, border 0.2s, transform 0.2s;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: solid 4px rgba(0,0,0,0.3);

    &:hover {
        background: darken($primary-color, 5);
    }

    &:active {
        border-bottom-width: 2px;
        transform: translateY(2px);
    }
    &:focus {
        outline: 0;
    }

    &.alt {
        background: $alt-color;

        &:hover {
            background: darken($alt-color, 4);
        }
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
