<div class="cardContainer game" *ngIf="gFacade.game$ | async as game">
    <h1>{{ game.name }}</h1>
    <div class="buttonGroup withMarginBottom2x">
        <button type="button" class="btn" (click)="ball.drawNumber()">
            Draw Number
        </button>
        <button type="button" class="btn alt" (click)="newGame()">
            New Game
        </button>
    </div>
    <div class="currentNumber withMarginBottom2x">
        <app-number-generator
            #ball
            (iHaveChosen)="callNumber($event)"
        ></app-number-generator>
    </div>
    <div>
        <h2 class="withMarginBottom">Numbers called this game:</h2>
        <div class="numbersPulled" *ngIf="gFacade.numbers$ | async as numbersCalled">
            <div class="numbersPulled--none" *ngIf="!numbersCalled.length">
                No numbers called yet!
            </div>
            <div *ngIf="numbersCalled">
                <div class="ball {{ ball.letter | lowercase }}" *ngFor="let ball of numbersCalled">
                    <div>
                        <span class="letter">
                            {{ ball.letter }}
                        </span>
                        <span class="number">
                            {{ ball.number }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
