.homepageForm {
    padding: 2rem;
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    .title{
        display: block;
        margin: -2rem -2rem 2rem -2rem;
        padding: 1rem 2rem;
        background: $primary-color;
        color: #fff;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1rem;
    }
}
